<p id="notice"><%= notice %></p>

<h1>Cryptolists</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>User</th>
      <th>Cost per</th>
      <th>Amount owned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cryptolists.each do |cryptolist| %>
      <tr>
        <td><%= cryptolist.symbol %></td>
        <td><%= cryptolist.user_id %></td>
        <td><%= cryptolist.cost_per %></td>
        <td><%= cryptolist.amount_owned %></td>
        <td><%= link_to 'Show', cryptolist %></td>
        <td><%= link_to 'Edit', edit_cryptolist_path(cryptolist) %></td>
        <td><%= link_to 'Destroy', cryptolist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cryptolist', new_cryptolist_path %>
