<h1>Cryptolists</h1>

<table class= "table table-striped">
  <br>
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>
      <th>Rank</th>
      <th>1 HR %</th>
      <th>24 HR %</th>
      <th>7 Day %</th>
      <th>Current Value</th>
      <th>Total Paid</th>
      <th>Profit/Lost</th>
      <th>Cost Paid Per</th>
      <th>Amount owned</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptolists.each do |cryptolist| %>
      <% if cryptolist.user_id == current_user.id %>
        <% if cryptolist.symbol %>
          <% cryptolist.symbol = cryptolist.symbol.upcase %>
        <% end %>
        <tr>
          <% for x in @lookup_crypto %>
            <% if cryptolist.symbol == x["symbol"] %>
              <td><%= link_to x["name"], cryptolist  %></td>
              <td>$<%= x["price_usd"] %></td>
              <td><%= x["rank"] %></td>

              <td><%= x["percent_change_1h"] %>%</td>
              <td><%= x["percent_change_24h"] %>%</td>
              <td><%= x["percent_change_7d"] %>%</td>

              <td>$<%= x["price_usd"].to_d * cryptolist.amount_owned %></td>
              <td>$<%= cryptolist.cost_per * cryptolist.amount_owned %></td>
              <td>$<%= (x["price_usd"].to_d * cryptolist.amount_owned) - (cryptolist.cost_per * cryptolist.amount_owned) %></td>
              <% @profit_loss += (x["price_usd"].to_d * cryptolist.amount_owned) - (cryptolist.cost_per * cryptolist.amount_owned) %>
            <% end %>
          <% end %>
          <td>$<%= cryptolist.cost_per %></td>
          <td><%= cryptolist.amount_owned %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<strong>Protfolio Profit/Loss: </strong> <%= number_to_currency(@profit_loss) %>

<br><br>

<%= link_to 'New Cryptolist', new_cryptolist_path, class: "btn btn-default" %>
